.games-container {
    display: flex;
}

.game-container {
    position: relative;
    width: fit-content;
    height: fit-content;

    transform: rotateX(0deg);
    transition: transform 0.5s ease;

    &:hover {
        transform: rotateX(9deg);
    }

    &:hover .glow {
        &:before {
            animation-play-state: running;
            opacity: 1;
        }
      
        &:after {
            animation-play-state: running;
            opacity: 1;
        }
    }
}

.game {
    /* position: absolute;
    top: 0;
    left: 0; */
    z-index: 1;

    cursor: pointer;

    /* transform: rotateX(0deg); */
    /* Horizontal Offset, Vertical Offset, Blur Radius, Color */
    /* box-shadow: 0 4px 8px #0000004d; */

    /* Need to be in the same transition, does not work otherwise */
    /* transition: transform 0.5s ease, box-shadow 0.5s ease; */
}

/* .game:hover {
    transform: rotateX(9deg);
    box-shadow: 0 12px 20px #00000066;
} */

.game-img {
    height: 150px;
    object-fit: cover;

    filter: saturate(0);
    transition: filter 0.5s ease-in-out;

    /* https://www.geeksforgeeks.org/how-to-apply-gradient-as-the-mask-using-css/?ref=ml_lbp */
    mask-image: linear-gradient(rgb(24, 23, 23), transparent);
}

.game:hover .game-img {
    filter: saturate(1);
}

.logo-container {
    /*width: 250px;*/
    height: 76px;
    margin-bottom: -38px;

    display: flex;
    justify-content: center;

    /* position: relative;
    bottom: 35px; */

    transform: translateY(-35px);
}

.logo {
    max-width: 254px;
    max-height: 76px;
    object-fit: contain;

    filter: saturate(0);
    transform: scale(1);
    transition: filter 0.5s ease-in-out, transform 0.5s ease;
}

.game:hover .logo {
    filter: saturate(1);
    transform: scale(1.08);
}

.properties-container {
    display: flex;
    justify-content: space-between;
}

.description-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.g-pinball       { --badge-color: #8e44ad; }
.g-adventure     { --badge-color: #2980b9; }
.g-indie         { --badge-color: #2ecc71; }
.g-arcade        { --badge-color: #e74c3c; }
.g-visual-novel  { --badge-color: #f1c40f; }
.g-board         { --badge-color: #1abc9c; }
.g-moba          { --badge-color: #34495e; }
.g-point-click   { --badge-color: #3498db; }
.g-fighting      { --badge-color: #c0392b; }
.g-shooter       { --badge-color: #16a085; }
.g-music         { --badge-color: #9b59b6; }
.g-platformer    { --badge-color: #f39c12; }
.g-puzzle        { --badge-color: #00bcd4; }
.g-racing        { --badge-color: #2c3e50; }
.g-rts           { --badge-color: #5dade2; }
.g-rpg           { --badge-color: #7d3c98; }
.g-simulator     { --badge-color: #95a5a6; }
.g-sport         { --badge-color: #e67e22; }
.g-strategy      { --badge-color: #f39c12; }
.g-tbs           { --badge-color: #00cec9; }
.g-tactical      { --badge-color: #1e3799; }
.g-hack-slash    { --badge-color: #e84393; }
.g-quiz         { --badge-color: #636e72; }

/* Colors from https://www.brandcolorcode.com */

.p-windows      { --badge-color: #0078D4; }
.p-mac          { --badge-color: #000000; }
.p-linux        { --badge-color: #E95420; }
.p-switch       { --badge-color: #E60012; }
.p-playstation  { --badge-color: #0070CC; }
.p-xbox         { --badge-color: #0C7A1F; }
.p-web          { --badge-color: #FBBC04; }
.p-steamvr      { --badge-color: #000000; }
.p-quest        { --badge-color: #0081FB; }
.p-ios          { --badge-color: #000000; }
.p-android      { --badge-color: #3DDC84; }

.badge {
    background-color: gray;
    transition: background-color 0.3s ease;
}
  
.badge:hover {
    background-color: var(--badge-color);
}

.genre-container {
    max-width: auto;
    margin-right: 10px;

    overflow: scroll;
    white-space: nowrap;

    /* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
    scrollbar-width: none;

    /* https://www.youtube.com/watch?v=Ca8L8iqnmdw */
    mask-image: linear-gradient(to right, black, black 75%, transparent);
}

/* GLOWING EFFECT */
/* Using
https://codetv.dev/blog/animated-css-gradient-border#create-a-gradient-border-using-background-origin-and-conic-gradient
https://www.amitmerchant.com/gradient-box-shadow-in-css/
as a starting point */

/* Needed to animate an angle in CSS */
@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    /* Defines type */
    syntax: "<angle>";
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

.glow {
    /* Use Bootstrap variable values for variables, can be found in devtools */
    --card-padding: var(--bs-card-spacer-y, 10px);
    --card-border-width: var(--bs-card-border-radius, 6px);
    
    border-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Pseudo element for blurred "shadow" */
.glow:before {
    content: "";

    position: absolute;
    /* Make pseudo elements bigger by border size and position them correctly, background-origin did not work */
    top: calc(var(--card-padding) * -1);
    left: calc(var(--card-padding) * -1);
    width: calc(100% + var(--card-padding) * 2);
    height: calc(100% + var(--card-padding) * 2);
    z-index: -1;

    transition: opacity 1s ease-out;
    opacity: 0;
    
    animation: spin 4s infinite linear paused;
    background:
      conic-gradient(
            from var(--bg-angle) in oklch longer hue,
            oklch(0.85 0.37 0) 0 0
        )
        border-box; /* Background up until border edges */

    filter: blur(20px);

    /* Use Bootstrap card border radius for shadow */
    border-radius: var(--bs-border-radius);
}

/* Pseudo element for "border" */
.glow:after {
    content: "";

    position: absolute;
    top: calc(var(--card-padding) * -1);
    left: calc(var(--card-padding) * -1);
    width: calc(100% + var(--card-padding) * 2);
    height: calc(100% + var(--card-padding) * 2);
    z-index: -1;

    transition: opacity 0.7s ease;
    opacity: 0;
    
    animation: spin 4s infinite linear paused;
    background:
      conic-gradient(
            from var(--bg-angle) in oklch longer hue,
            oklch(0.85 0.37 0) 0 0
        )
        border-box;
    
    /* Use Bootstrap card border radius for border */
    border-radius: var(--bs-border-radius, 0.375rem);
}