.game-container {
    position: relative;

    padding: 5px;
    border: 5px solid transparent;

    transform: rotateX(0deg);
    transition: transform 0.5s ease;

    &:hover {
        /* Glow overlays other games */
        z-index: 1;

        transform: rotateX(9deg);

        & .game-img {
            filter: saturate(1);
        }

        & .logo {
            filter: saturate(1);
            transform: scale(1.08);
        }

        & .glow {
            &::before {
                animation-play-state: running;
                opacity: 1;
            }
          
            &::after {
                animation-play-state: running;
                opacity: 1;
            }
        }
    }
}

.game {
    width: 18rem;
    z-index: 1;

    cursor: pointer;

    /* Horizontal Offset, Vertical Offset, Blur Radius, Color */
    /* box-shadow: 0 4px 8px #0000004d; */
}

.game-img {
    height: 150px;
    object-fit: cover;

    filter: saturate(0);
    transition: filter 0.5s ease-in-out;

    /* https://www.geeksforgeeks.org/how-to-apply-gradient-as-the-mask-using-css/?ref=ml_lbp */
    mask-image: linear-gradient(rgb(24, 23, 23), transparent);
}

.logo-container {
    height: 76px;
    margin-bottom: -38px;

    display: flex;
    justify-content: center;

    transform: translateY(-35px);
}

.logo {
    max-width: 254px;
    max-height: 76px;
    object-fit: contain;

    filter: saturate(0);
    transform: scale(1);
    transition: filter 0.5s ease-in-out, transform 0.5s ease;
}

.properties-container {
    display: flex;
    justify-content: space-between;
}

.description,
.developer,
.publisher {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.g-pinball      { --badge-color: #8B42D5; }
.g-adventure    { --badge-color: #EFA943; }
.g-indie        { --badge-color: #CB84B0; }
.g-arcade       { --badge-color: #D5070B; }
.g-visual-novel { --badge-color: #FAE69D; }
.g-board        { --badge-color: #545655; }
.g-moba         { --badge-color: #4A928B; }
.g-point-click  { --badge-color: #2FD03B; }
.g-fighting     { --badge-color: #DC0F85; }
.g-shooter      { --badge-color: #DA2526; }
.g-music        { --badge-color: #B441FF; }
.g-platformer   { --badge-color: #7A4F8C; }
.g-puzzle       { --badge-color: #432977; }
.g-racing       { --badge-color: #D8120E; }
.g-rts          { --badge-color: #5D83F8; }
.g-rpg          { --badge-color: #121F5D; }
.g-simulator    { --badge-color: #C7C8C5; }
.g-sport        { --badge-color: #EE6E33; }
.g-strategy     { --badge-color: #5C6D65; }
.g-tbs          { --badge-color: #7B346E; }
.g-tactical     { --badge-color: #175ACB; }
.g-hack-slash   { --badge-color: #8D313E; }
.g-quiz         { --badge-color: #F6B507; }

/* Colors from https://www.brandcolorcode.com */

.p-windows      { --badge-color: #0078D4; }
.p-mac          { --badge-color: #000000; }
.p-linux        { --badge-color: #E95420; }
.p-switch       { --badge-color: #E60012; }
.p-playstation  { --badge-color: #0070CC; }
.p-xbox         { --badge-color: #0C7A1F; }
.p-web          { --badge-color: #FBBC04; }
.p-steamvr      { --badge-color: #000000; }
.p-quest        { --badge-color: #0081FB; }
.p-ios          { --badge-color: #000000; }
.p-android      { --badge-color: #3DDC84; }

.p-steamvr::after {
    content: " VR";
}

.p-quest::after {
    content: " Quest";

}

.p-ios::after {
    content: "iOS";
}

.badge {
    background-color: gray;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--badge-color);
    }
}

.genre-container {
    max-width: auto;
    margin-right: 10px;

    overflow: scroll;
    white-space: nowrap;

    /* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
    scrollbar-width: none;

    /* https://www.youtube.com/watch?v=Ca8L8iqnmdw */
    mask-image: linear-gradient(to right, black, black 75%, transparent);
}

/* GLOWING EFFECT */
/* Using
https://codetv.dev/blog/animated-css-gradient-border#create-a-gradient-border-using-background-origin-and-conic-gradient
https://www.amitmerchant.com/gradient-box-shadow-in-css/
as a starting point */

/* Needed to animate an angle in CSS */
@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    /* Defines type */
    syntax: "<angle>";
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

.glow {
    /* Use Bootstrap variable values for variables, can be found in devtools */
    --card-padding: var(--bs-card-spacer-y, 10px);
    --card-border-width: var(--bs-card-border-radius, 6px);
    
    position: absolute;
    top: -5px;
    left: -5px;
    /* Subtract padding */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    box-sizing: content-box;

    padding: 5px;
    border: 5px solid transparent;

    &::before,
    &::after {
        content: "";

        /* Make pseudo elements bigger by border size and position them correctly, background-origin did not work */
        position: absolute;
        top: calc(var(--card-padding) * -1);
        left: calc(var(--card-padding) * -1);
        width: calc(100% + var(--card-padding) * 2);
        height: calc(100% + var(--card-padding) * 2);
        z-index: -1;
    
        opacity: 0;
    
        animation: spin 4s infinite linear paused;
    
        /* Use Bootstrap card border radius for border/shadow */
        border-radius: var(--bs-border-radius);
    }

    /* Pseudo element for blurred "shadow" */
    &::before {
        --card-padding: 10px;
        transition: opacity 1s ease-out;
    
        background:
          conic-gradient(
                from var(--bg-angle) in oklch longer hue,
                oklch(0.85 0.37 0), oklch(0.85 0.37 360)
            )
            border-box; /* Background up until border edges */
    
        filter: blur(20px);
    }

    /* Pseudo element for "border" */
    &::after {
        --card-padding: 5px;
        transition: opacity 0.7s ease;
    
        background:
          conic-gradient(
                from var(--bg-angle) in oklch longer hue,
                oklch(0.85 0.37 0), oklch(0.85 0.37 360)
            )
            border-box;
        
        border: 1px solid black;
    }
}