body {
    /* https://ant.design/docs/spec/font?PC */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.navbar {
    z-index: 1;
}

.games-container {
    margin-top: 20px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.selector {
    margin-left: 5px;
    margin-right: 10px;
}